<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

 
    <add key="ConnectionString" value="Data Source=103.163.216.60;Initial Catalog=Hulotoy;Persist Security Info=True;User ID=adavigo;Password=ada@1234321;TrustServerCertificate=True" />
    <add key="QUEUE_HOST" value="10.0.101.10" />
    <add key="QUEUE_V_HOST" value="Hulotoys" />
    <add key="QUEUE_USERNAME" value="user" />
    <add key="QUEUE_PASSWORD" value="Adavigo123456" />
    <add key="QUEUE_PORT" value="5672" />
    <add key="QUEUE_SYNC_ES" value="SYNC_DATA_TO_ES" />
	<add key="queue_name" value="queue_app_push" />
	
	<add key="tele_group_id" value="-1002177864322" />
	<add key="tele_token" value="6988625965:AAG4gSCJWnYWJlEq2E5fihHiBg3JCfk_VWI" />
	<add key="BotSetting_environment" value="6988625965:AAG4gSCJWnYWJlEq2E5fihHiBg3JCfk_VWI" />
	<add key="BotSetting_Name" value="6988625965:AAG4gSCJWnYWJlEq2E5fihHiBg3JCfk_VWI" />
	  
	<add key="Mongo_Host" value="10.0.101.9" />        
    <add key="Mongo_Port" value="27017" />        
    <add key="Mongo_catalog" value="Hulotoy" />        
    <add key="Mongo_usr" value="adavigolog_writer" />        
    <add key="Mongo_pwd" value="adavigolog_2022" />
	  
    <add key="Elastic_Host" value="http://10.0.101.10:9200" />
	<add key="Elastic_Index_Authentication" value="hulotoys_sp_getaccountaccessapi" />
	<add key="Elastic_Index_AccountClient" value="hulotoys_sp_getaccountclient" />
	<add key="Elastic_Index_AddressClient" value="hulotoys_sp_getaddressclient" />
	<add key="Elastic_Index_Article" value="hulotoys_sp_getarticle" />
	<add key="Elastic_Index_ArticleCategory" value="hulotoys_sp_getarticlecategory" />
	<add key="Elastic_Index_Tag" value="hulotoys_sp_gettag" />
	<add key="Elastic_Index_Order" value="hulotoys_sp_getorder" />
	<add key="Elastic_Index_OrderDetail" value="hulotoys_sp_getorderdetail" />
	<add key="Elastic_Index_Client" value="hulotoys_sp_getclient" />
	<add key="Elastic_Index_Raiting" value="hulotoys_sp_getrating" />
	<add key="Elastic_Index_LocationProduct" value="hulotoys_sp_getlocationproduct" />
	<add key="Elastic_Index_ArticleRelated" value="hulotoys_sp_getarticlerelated" />
	<add key="Elastic_Index_ArticleTag" value="hulotoys_sp_getarticletagdata" />
	<add key="Elastic_Index_GroupProduct" value="hulotoys_sp_getgroupproduct" />
	<add key="Elastic_Index_Provinces" value="hulotoys_sp_getprovince" />
	<add key="Elastic_Index_Districts" value="hulotoys_sp_getdistrict" />
	<add key="Elastic_Index_Wards" value="hulotoys_sp_getward" />
	  
	  
	<add key="Redis_Host" value="103.163.216.41" />
	<add key="Redis_Port" value="6666" />
	<add key="Redis_Database_db_common" value="8" />
	<add key="Redis_Database_db_search_result" value="9" />
	<add key="BOT_UserID" value="1" />
	<add key="Setting_Domain" value="http://api.hulotoys.com/" />
	  
	<add key="NhanhVN_AppId" value="74708" />
	<add key="NhanhVN_Secret" value="V9Hm0xzWkUsvejKHOG7cVugUwD9bF6Rw6qhLpVSYnQZIHe7xquZp1ZfsJSoexVwRS3kJcn9l75QnzDbEIQeuCjNq4arSjkKiUEgKbJtpb5ObMGEXAszSxTpFkCiy1M0O" />
	<add key="NhanhVN_BussinessID" value="187271" />
	<add key="NhanhVN_AccessToken" value="2wOGhdpFuVrXm1EG4huVQYzH7w0NjNcwPp0p30rdgBWwDfwH6vXsrUmAni6rqzxx3d5uROZqCB0RqV09CNEve7p5LREksFZ2FMOipwtojPPdnSXizGZbxvJpErM0DuZ42BzZQ3D0pvZ2ytY9gC8tELyHJhIuzIbbkapXwkPauDrF4gv4WxDYeL5kZXMBuhyTbCzNp35b9Qo6KjbK8wfIHDLuP4CBpb5eFjVFC" />
	<add key="NhanhVN_Exprire" value="74708" />
	<add key="NhanhVN_API_Domain" value="https://open.nhanh.vn" />
	<add key="NhanhVN_API_AddOrder" value="/api/order/add" />
	<add key="NhanhVN_API_Location" value="/api/shipping/location" />



  </appSettings>
</configuration>
