<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="QUEUE_HOST" value="103.163.216.41" />
		<add key="CPMS_DFP_REPORT" value="Data Source=103.163.216.41;Initial Catalog=adavigo;Persist Security Info=True;User ID=us;Password=us@585668" />
		<add key="QUEUE_V_HOST" value="Adavigo" />
		<add key="QUEUE_USERNAME" value="adavigo_admin" />
		<add key="QUEUE_PASSWORD" value="123456789" />
		<add key="QUEUE_PORT" value="5672" />
		<add key="index_app" value="Create_Order" />
		<add key="tele_group_id" value="-620666227" />
		<add key="tele_token" value="5321912147:AAFhcJ9DolwPWL74WbMjOOyP6-0G7w88PWY" />
		<add key="queue_name" value="queue_checkout_order" />
		<add key="STMP_FROM_MAIL" value="dinhthanhbinh111@gmail.com" />
		<add key="STMP_HOST" value="smtp.gmail.com" />
		<add key="STMP_DISPLAYNAME" value="Adavigo Booking" />
		<add key="STMP_USERNAME" value="dinhthanhbinh111@gmail.com" />
		<add key="STMP_PASSWORD" value="@@Binh111@@" />
		<add key="STMP_APP_PASSWORD" value="sxmg cnea hgtl okwf" />
		<add key="STMP_PORT" value="587" />
		<add key="key_encrypt_log" value="1372498309AAH0fVJAdavigofnZQFg5Qaqro47y1o5mIIcwVkR3k" />
		<add key="key_encrypt" value="AAAAB3NzaC1yc2EAAAADAQABAAABAQC+6zVy2tuIFTDWo97E52chdG1QgzTnqEx8tItL+m5x39BzrWMv5RbZZJbB0qU3SMeUgyynrgBdqSsjGk6euV3+97F0dYT62cDP2oBCIKsETmpY3UUs2iNNxDVvpKzPDE4VV4oZXwwr1kxurCiy+8YC2Z0oYdNDlJxd7+80h87ecdYS3olv5huzIDaqxWeEyCvGDCopiMhr+eh8ikwUdTOEYmgQwQcWPCeYcDDZD8afgBMnB6ys2i51BbLAap16R/B83fB78y0N04qXs3rg4tWGhcVhVyWL1q5PmmweesledOWOVFowfO6QIwDSvBwz0n3TstjXWF4JPbdcAQ8VszUj" />
		<add key="domain_api_core" value="https://qc-api.adavigo.com" />
		<add key="domain_qc_b2c" value="https://qc-b2c.adavigo.com" />
		<add key="domain_qc_b2b" value="https://qc-b2b.adavigo.com" />
		<add key="API_GET_BOOKING_MONGODB" value="/api/Booking/flight/get-booking-by-booking-id.json" />
		<add key="MAIL_URL_PAYMENT" value="/flights/payment?sessionId=" />
		<add key="MAIL_URL_CHECK_PAYMENT" value="/flights/orderDetail?orderId=" />
		<add key="MAIL_URL_PAYMENT_VIN_WONDER" value="/vinwonder/payment?bookingId=" />
		<add key="MAIL_URL_CHECK_PAYMENT_VIN_WONDER" value="/vinwonder/orderDetail?orderId=" />
		<add key="API_CLEAR_CACHE" value="/api/Caching/clear.json" />
		<add key="API_GET_BOOKING_MONGODB_BY_SESSION" value="/api/Booking/flight/get-booking-by-session-id.json" />
		<add key="API_GET_BOOKING_HOTEL_MONGODB_BY_SESSION" value="/api/Booking/hotel/get-booking-by-session-id.json" />
		<add key="API_PushLog" value="/api/LogManager/insert-app-log.json" />
		<add key="API_Update_Checked_Mongo" value="/api/order/update-checked-session-mongo.json" />
		<add key="API_Insert_ES" value="/api/insert/data.json" />
		<add key="API_Get_Voucher" value="/api/voucher/b2c/apply.json" />
		<add key="Created_By_BotID" value="55" />
		<add key="Environment" value="QC" />
		<add key="Get_Order_no" value="/api/Identifier/get-code.json" />
		<add key="Redis_dbindex" value="0" />
		<add key="API_GET_BOOKING_VINWONDER_MONGODB_BY_SESSION" value="/api/app/checkout/vinwonder/get-booking-by-id.json" />
		<add key="CMS_ORDER_DETAIL" value="https://qc-be.adavigo.com/Order/{orderid}" />
		<add key="API_NOTIFY" value="/api/notify/message/send.json" />
		<add key="IMAGE_DOMAIN" value="https://static-image.adavigo.com" />
		<add key="upload_QR_payment_order" value="/images/upload-payment-order" />
		<add key="GET_TOUR_BOOKING_BY_ID" value="/api/app/checkout/tour/get-booking-by-id.json" />

	</appSettings>
</configuration>
