<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

 
    <add key="hulotoys_db" value="Data Source=103.163.216.41;Initial Catalog=Hulotoy;Persist Security Info=True;User ID=us;Password=us@585668" />
	  <add key="QUEUE_HOST" value="103.163.216.41" />
    <add key="QUEUE_V_HOST" value="Hulotoys" />
    <add key="QUEUE_USERNAME" value="hulotoys_admin" />
    <add key="QUEUE_PASSWORD" value="1234567890" />
    <add key="QUEUE_PORT" value="5672" />
    
    <add key="tele_group_id" value="-1001699730654" />
    <add key="tele_token" value="5796067192:AAEW_IwegAZbTPkLQyMdMXvgCfPdIk5MhM8" />
    <add key="queue_name" value="queue_app_push" />        
  </appSettings>
</configuration>